{% extends 'sales_management/base.html' %}
{% load static %}
{% load humanize %}
{% load utils %}

{% block title %}TOP画面{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">TOPメニュー</a></li>
<li class="breadcrumb-item"><a href="{% url 'unshipped_order' %}">オーダー管理</a></li>
<li class="breadcrumb-item active" aria-current="page">オーダー詳細画面</li>
{% endblock %}
{% block contents %}


<div class="row">
    <div class="col-12 col-xl-12">
        <div class="row">

            <div class="card card-body shadow border-0 table-wrapper table-responsive">


                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-sm-12 text-center mt-3">
                            <h1>注文ID: {{ object.pk }}</h1>
                            <hr size="5">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-sm-12">
                            <h3>カスタマー情報</h3>
                            <p><span style="font-weight: 400;">氏名:</span> {{ object.name }}</p>
                            <p><span style="font-weight: 400;">アドレス:</span> {{ object.email }}</p>
                           
                            <h3 class="pt-3">発送先住所 </h3>
                            <p><span style="font-weight: 400;">〒:</span> {{ object.zip_code |zip_code1}}-{{object.zip_code | zip_code2}}</p>
                            <p><span style="font-weight: 400;">住所:</span> {{ object.address }}</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h3>お支払いと配送について</h3>
                            <p class="mt-3">{% if object.is_paid %}
                            <p><svg class="icon icon-xxs text-success me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg><span class="pl-2">支払い済み</span></p>
                            {% else %}
                            <p><svg class="icon icon-xxs text-danger me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                        clip-rule="evenodd"></path>
                                </svg><span class="pl-2">未払い</span></p>
                            {% endif %}</p>
                            {% if object.is_shipped %}
                            <p><svg class="icon icon-xxs text-success me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="pl-2">商品発送済み</span>
                            </p>
                            {% else %}
                            <p><svg class="icon icon-xxs text-danger me-1" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                    clip-rule="evenodd"></path>
                            </svg><span class="pl-2">未発送</span></p>
                 
                            {% endif %}
                            <h3>注文明細</h3>

                            {% for order in order_details %}
                            <p><span style="font-weight: 400;">商品名:</span> {{ order.product }}</p>
                            <p><span style="font-weight: 400;">単価:</span> {{ order.unit_price| intcomma }}円</p>
                            <p><span style="font-weight: 400;">数量:</span> {{ order.quantity }}</p>
                           
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col text-end">
                        <a href="{% url 'order_management' %}" class="btn btn-sm btn-primary">一覧画面へ戻る</a>
                        <a href="{% url 'order_edit' object.pk %}" class="btn btn-sm btn-warning">編集する</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}